.photo-grid {
  max-width: 1184px;
  margin: 0 auto 92px;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1120px) {
  .photo-grid {
    max-width: 928px;
  }
}

@media screen and (max-width: 900px) {
  .photo-grid {
    max-width: 720px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 600px) {
  .photo-grid {
    max-width: 288px;
    margin-bottom: 64px;
  }
}
