.place__website-link {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  transition: opacity 0.5s linear 0s;
}

.place__website-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .place__website-link {
    display: block;
    max-width: 90%;
    margin: 0 auto;
  }
}
