.cover {
  max-width: 1184px;
  margin: 0 auto;
  background-image: url(../../images/cover-background.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1120px) {
  .cover {
    max-width: 1024px;
  }
}

@media screen and (max-width: 900px) {
  .cover {
    max-width: 768px;
  }
}

@media screen and (max-width: 600px) {
  .cover {
    max-width: 320px;
  }
}
